/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  
}
.gallery img {
  width: 100%;
  height:152px;
  display: block;
}
.list {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 360px;
}
.list img {
  width: 100%;
  height: auto;
}
.item-wrap {
display: flex;
justify-content: space-around;
text-align: center;
padding: 4px 25px 4px 0px;
  width: 360px;
height: 48px;
}
.item-text {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item-text p {
  font-family: var(--font-family);
font-weight: 400;
font-size: 12px;
line-height: 200%;
letter-spacing: 0.04em;
color: #2e2f42;
}

form {
  margin-bottom: 20px;
  margin-top: 50px;
  display: flex;
 justify-content: center;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
width: 272px;
height: 40px;
font-family: var(--font-family);
line-height: 150%;
letter-spacing: 0.04em;
color: #808080;
padding-left: 16px;

}

input:hover {
  border: 1px solid #000;
}

input:pressed {
  border: 1px solid #4e75ff;
}

button {
  border: none;
  border-radius: 8px;
padding: 8px 16px;
width: 91px;
height: 40px;
background-color: #4e75ff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
margin-left: 8px;
}

button:hover {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 